{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="container">
{% if(errors) %}
<div class="alert alert-danger" role="alert">
{{errors.messageKey | replace({'Username could not be found.': 'Email could not be found'})}}
</div>
{% endif %}

<form class="form-signin" action="{{ path('login') }}" method="post">
  <h2 class="form-signin-heading">Login</h2>
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="email" id="username" name="username" class="form-control" value="{{lastUser}}" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;<a id="fbsign" href="{{ hwi_oauth_login_url('facebook') }}">Sign in with Facebook</a>
  </button>
  <br>Don't have an account? <a href="/register">Register</a>
</form>

</div> <!-- /container -->
<style>
body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#fbsign {
  color: white;
}
#fbsign {
  text-decoration: none;
}
</style>
{% endblock %}
